{% extends 'base.html.twig' %}

{% block title %}Symfony Art{% endblock %}

{% block body %} 
<h1>Article </h1>
<p> Hallo my name is {{ name }}</p>
{% if urls %}
<h2>abslouturl IS </h2>
<p>{{urls.abslouturl}}</p>
<h2>relativeurl IS </h2>
<p>{{urls.relativeurl}}</p>
{% endif %}

{% if versions %}
<h2>versions1 IS </h2>
<p>{{versions.version1}}</p>
<h2>version2 IS </h2>
<p>{{versions.version2}}</p>
{% endif %}

{% if articles %}
    <table id="articles" class="table table-striped">
        <thead>
            <th>Article Title</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>
                    {{ article.title }}
                </td>
                <td>
                    <a href="{{ "/article/%s"|format(article.id) }}" class="btn btn-dark"> Show </a>
                    <a href="#" class="btn btn-danger delete-article" data-id="{{article.id}}"> Delete </a>
                    <a href="{{ "/article/update/%s"|format(article.id) }}" class="btn btn-warning"> Update </a>
                </td>
            </tr>
             

            {% endfor %}
            
        </tbody>
    </table>
{% else %}
    <p class="error">There is no article </p>
{% endif %}


{% endblock %}
{% block javascripts %}
<script src="../asset/js/main.js"></script>
{% endblock %}